<form action="/confirmed" method="POST" >  
   <ul class="navbar" style="list-style: none;">
            <li><a href="/admin">Admin</a></li>
           <li><a href="/">Home</a></li>
           <li><a href="/fruits">Fruits</a></li>
           <li><a href="/cakes">Cakes</a></li>
           <li><a href="/puffs">Puffs</a></li>
           <li><a href="/icecream">Icecream</a></li>
           
        </ul>
        <br>
     <div class="fpm">
     <p>ENTER UR DETAILS</p>
     <div>
     <label for="name">NAME:&nbsp;&nbsp;&nbsp;&nbsp;</label>
     <input type="text" required name="name" id="name">
     </div>
     <div>
     <label for="address">ADDRESS:</label>
     <input type="text" name="address" required id="address">
     </div>
     <div>
          <label for="ph">PHONE NO:</label>
          <input type="number" required name="ph" id="ph">
     </div>
     <div style="margin-left:100px;">
          <input type="submit" value="CONFIRM">
     </div>
     </div>
     
</form>