<h1 id="head">CHOOSE YOUR SNACKS</h1>
<hr>
   <ul class="navbar" style="list-style: none;">
            <li><a href="/admin">Admin</a></li>

           
        </ul>
        <br><br><br>
    <div class="bic">
    <a href="/icecream" ><img class="im" width=210 height=200 src="/Images/icecream.jpg" alt="Ice cream" ></a>
    <h2>ICECREAM</h2>
   </div>
   <div class="bic">
    <a href="/fruits"><img class="im" width=210 height=200 src="/Images/fruits.jpg" alt="Fruits"></a>
    <h2>FRUITS</h2>
     </div>
     <div class="bic">
    <a href="/cakes"><img class=" im"width=210  height=200 src="/Images/cake.jpg" alt="Cakes"></a>
    <h2>CAKE</h2>
      </div>
      <div class="bic">
    <a href="/puffs"><img class="im" width=220 height=200 src="/Images/puffs.jpg" alt="puffs"></a>
    <h2>PUFFS</h2>
    </div>
