<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WELCOME TO SHOP</h1>

 <ul class="navbar" style="list-style: none;">
            <li><a href="/admin">Admin</a></li>
             <li><a href="/shop">Shop</a></li>
           <li><a href="/">Home</a></li>
           
</ul>
<div class="shop">
    <div>
       <a href="/orders"><input type="submit" value="LIST OF ORDERS"></a>
    </div>
    <div>
        <a href="/product"><input type="submit" name="" id="" value="PRODUCTS"></a>
    </div>
</div>